.navbar {
    background-color: $navs !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;


    .navbar-brand {
        img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        }}

    .nav-link {
    text-decoration: none;
    padding: 10px 15px;
    font-family: "DM Sans";
    font-size: 18px ;
    font-weight: 500 ;
    color: $primary-blue ;
    border-right:1px solid #d8d3d3 ;
    }}
    

 /* ------------- Footer  -------------*/

 .subscribeBanner {
    width: 100%;
    background-color: $primary-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .headerSubscribe, .textoSubscribe {
        font-family: "DM Sans";
        color: #ffffff;
        text-align: center;
    }

    .headerSubscribe {
        font-size: 24px;
        font-weight: 400;
    }

    .textoSubscribe {
        font-size: 16px;
        font-weight: 400;
    }
}

.subscribeBanner--form{
    @extend .subscribeBanner;
    padding: 5px 0;
}

.subscribeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.userEmail, .userName, .userMessage {
    border: 1px solid #ffffff;
    border-radius: 16px;
    width: 300px;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    box-shadow: none;
    transform: none;
    margin-top: 10px;
}

.userEmail, .userName {
    height: 30px;
}

.userMessage {
    height: 200px;
    text-align: start;
}

.subscribeButton {
    width: 125px;
    height: 35px;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: $light-green;
    border-radius: 16px;
    border: 1px solid $light-green;
    box-shadow: none;
    transform: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        background-color: $dark-green;
        border-color: $dark-green;
    }
}


.endFooter {
    background-color: $navs;
    width: 100%;
}


.logo-footer img {
    width: 50px;
    height: 50px;
    padding: 10px;

}

.linkFooter {
    text-decoration: none;
    padding: 10px 15px;
    font-family: "DM Sans";
    font-size: 14px ;
    font-weight: 500 ;
    color: $primary-blue ;

}

.logo-rrss img {
    width: 20px;
    height: 20px;
    
}


.button {
    display: flex;              
    align-items: center;         
    justify-content: center;
    width: 125px;
    height: 35px;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: $dark-green;
    border-radius: 16px;
    box-shadow: none;
    transform:none;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    margin-bottom: 10px !important;


    &.button:hover {
    background-color: $light-green ;
    border-color: $light-green ;
    color: #ffffff;
}}

