@charset "UTF-8";
/* Trae márgenes por default, hay que sacarlos para que tome todo el ancho y arranque de arriba*/
body {
  margin: 0;
}

/* -------------Tipografías-------------*/
@font-face {
  font-family: "DM Sans";
  src: url(./../../fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
h1 {
  font-family: "DM Sans";
  font-size: 40px;
  font-weight: 300;
  color: #1c3949;
}

h2 {
  font-family: "DM Sans";
  font-size: 28px;
  font-weight: 300;
  color: #1c3949;
}

h3 {
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 400;
  color: #1c3949;
}

h4 {
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 500;
  color: #1c3949;
}

h5 {
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: 700;
  color: #1c3949;
}

h6 {
  font-family: "DM Sans";
  font-size: 13px;
  font-weight: 700;
  color: #1c3949;
}

p {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  color: #1c3949;
}

.navbar {
  background-color: #eaedd2 !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar .navbar-brand img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.navbar .nav-link {
  text-decoration: none;
  padding: 10px 15px;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 500;
  color: #1c3949;
  border-right: 1px solid #d8d3d3;
}

/* ------------- Footer  -------------*/
.subscribeBanner, .subscribeBanner--form {
  width: 100%;
  background-color: #1c3949;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.subscribeBanner .headerSubscribe, .subscribeBanner--form .headerSubscribe, .subscribeBanner .textoSubscribe, .subscribeBanner--form .textoSubscribe {
  font-family: "DM Sans";
  color: #ffffff;
  text-align: center;
}
.subscribeBanner .headerSubscribe, .subscribeBanner--form .headerSubscribe {
  font-size: 24px;
  font-weight: 400;
}
.subscribeBanner .textoSubscribe, .subscribeBanner--form .textoSubscribe {
  font-size: 16px;
  font-weight: 400;
}

.subscribeBanner--form {
  padding: 5px 0;
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.inputFields, .inputFields--message, .inputFields--email,
.inputFields--name {
  border: 1px solid #ffffff;
  border-radius: 16px;
  width: 400px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
  box-shadow: none;
  transform: none;
  margin-top: 10px;
}

.inputFields--email,
.inputFields--name {
  height: 40px;
}

.inputFields--message {
  height: 200px;
  text-align: start;
}

.subscribeButton {
  width: 125px;
  height: 35px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #83ada2;
  border-radius: 16px;
  border: 1px solid #83ada2;
  box-shadow: none;
  transform: none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.subscribeButton:hover {
  background-color: #506c64;
  border-color: #506c64;
}

.endFooter {
  background-color: #eaedd2;
  width: 100%;
}

.logo-footer img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.linkFooter {
  text-decoration: none;
  padding: 10px 15px;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  color: #1c3949;
}

.logo-rrss img {
  width: 20px;
  height: 20px;
}

.button, .heroHome--contenido a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 35px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #506c64;
  border-radius: 16px;
  box-shadow: none;
  transform: none;
  text-decoration: none;
  padding: 12px 20px 12px 20px;
  margin-bottom: 10px !important;
}
.button.button:hover, .heroHome--contenido a:hover {
  background-color: #83ada2;
  border-color: #83ada2;
  color: #ffffff;
}

@media (max-width: 840px) {
  .inputFields, .inputFields--email,
  .inputFields--name, .inputFields--message {
    width: 300px;
    margin: 5px;
  }
}
/* ------------- Index / Home page  -------------*/
/* -------- Hero  --------*/
.heroHome, .heroHome--contenido {
  width: 100%;
  height: 350px;
  position: relative; /* para fijar cosas encima */
  overflow: hidden;
}
.heroHome img, .heroHome--contenido img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroHome h1, .heroHome--contenido h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  text-align: center;
  z-index: 1;
}

/* -------- Banner Intro --------*/
.bannerIntro {
  background-color: #eaedd2;
  padding: 1.5rem 0.5rem;
}
.bannerIntro p {
  text-align: center;
}
.bannerIntro img {
  border-radius: 16px;
  max-width: 100%;
}

/* -------- Sección Canal  --------*/
#bannerCanal {
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 20px;
  height: auto;
}

.container {
  padding-top: 2rem;
}

/* -------- banners --------*/
.bannerImgIzq,
.bannerImgDer {
  width: 80% !important;
  max-width: 80%;
  padding: 2rem 0 0 0;
  margin: 0 auto;
}

.imgContainerIzq,
.imgContainerDer {
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.imgContainerIzq img,
.imgContainerDer img {
  border-radius: 16px;
  max-height: 300px;
  height: 300px;
  object-fit: cover;
}

.imgContainerIzq img {
  border: 20px solid #3c6c74;
}

.imgContainerDer img {
  border: 20px solid #506c64;
}

.containerTextBanners {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 992px) {
  .bannersHome, .bannersHome--bold {
    text-align: center;
  }
  .containerTextBanners {
    text-align: center;
  }
  .imgBannerIntro {
    max-width: 80%;
  }
  .imgContainer img {
    max-width: 70%;
  }
  .imgContact {
    max-width: 350px;
    width: 350px;
  }
  .button, .heroHome--contenido a {
    margin: 0 auto;
  }
}
/* ------------- Contenido  -------------*/
.heroHome--contenido video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroHome--contenido #heroTitleVideo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  z-index: 1;
  padding-bottom: 15px;
}
.heroHome--contenido #heroDescriptionVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  z-index: 1;
}
.heroHome--contenido a {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -62.5px; /* para que se termine de centrar el botón... no parece la mejor práctica*/
}

.nav-pills {
  padding-top: 10px;
  padding-bottom: 15px;
}

.nav-tabs {
  align-items: center;
  text-align: center;
}

.videoScroll {
  width: 20rem;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  max-width: 90%;
  background: #000;
  margin: 20px auto;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imgsContent {
  border-radius: 16px;
  max-width: 350px;
  width: 350px;
  max-height: 150px;
  object-fit: cover;
}

.dropdown {
  background-color: #eaedd2;
}
.dropdown a {
  color: #1c3949 !important;
}

.merchBanner {
  width: 80%;
  border-radius: 16px;
  background-color: rgba(131, 173, 162, 0.1);
  align-items: center;
  text-align: center;
  padding: 20px 10px 20px 10px;
  margin: 10px auto 30px auto;
}
.merchBanner h3 {
  color: #1c3949;
}

@media (max-width: 768px) {
  .heroHome--contenido #heroTitleVideo {
    top: 35%;
    width: 100%;
  }
  .heroHome--contenido #heroDescriptionVideo {
    top: 60%;
    width: 100%;
  }
  .heroHome--contenido a {
    top: 80%;
  }
  .nav-pills {
    display: none;
  }
  .cardsVideos {
    display: none;
  }
  #imgsContentContainer {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav-tabs {
    display: none;
  }
  #carouselExampleIndicators {
    display: none;
  }
  #carousel-control-prev {
    display: none;
  }
  #carousel-control-next {
    display: none;
  }
  #carouselExampleAutoplaying {
    display: none;
  }
  .imgPerfiles {
    width: 100%;
    max-width: 300px;
  }
  .containerTextBanners {
    text-align: center;
    margin-top: 20px;
  }
}
/* ------------- Nosotros  -------------*/
.bannersHome, .bannersHome--bold {
  padding-bottom: 1rem;
  margin: 5px;
  word-wrap: break-word;
}

.bannersHome--bold {
  font-weight: 700;
}

.heroHomeUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  background-color: rgba(60, 108, 116, 0.35);
  padding: 20px 0;
}
.heroHomeUs h1 {
  color: #1c3949;
  margin-top: 5px;
  margin-bottom: 0px;
}
.heroHomeUs p {
  color: #1c3949;
  margin: 15px 15px;
  text-align: center;
}

#nosotrosImg {
  width: 350px;
  height: 280px;
  border-radius: 16px;
  object-fit: cover;
  margin: 10px 20px;
}

.imgPerfiles {
  border-radius: 16px;
  max-width: 450px;
  margin: 5px;
}

@media (max-width: 768px) {
  .imgPerfiles {
    width: 300px;
    max-width: 300px;
  }
  .nosotrosImg {
    width: 300px;
    max-width: 300px;
    margin: 10px;
  }
}
/* ------------- Tienda  -------------*/
.heroStore {
  width: 100%;
  height: auto;
  background-color: #506c64;
  padding-bottom: 20px;
}
.heroStore h1 {
  color: #ffffff;
  text-align: center;
  margin: 0px 0 40px 0;
  padding-top: 30px;
}
.heroStore img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  margin: 10px 10px 10px 10px;
}

.filtrosImgStore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.products {
  padding: 20px 0 40px 0;
}

.card-img-top {
  max-height: 250px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .filtrosImgStore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
/* ------------- Contacto  -------------*/
#contactSpace {
  background-color: #506c64;
  width: 100%;
  text-align: center;
  padding-bottom: 20px 0;
}
#contactSpace h1,
#contactSpace p {
  color: #ffffff;
  margin: 0;
  padding-top: 20px;
}

#grilla {
  display: grid;
  grid-template-areas: "form image";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
}

.contactForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.imgContact {
  grid-area: image;
  border-radius: 16px;
  max-width: 500px;
  align-items: center;
}

#contactFormDescription {
  color: #ffffff;
}

@media (max-width: 768px) {
  #grilla {
    display: grid;
    grid-template-areas: "form" "image";
    grid-template-columns: 1fr;
  }
  .imgContact {
    display: none;
  }
  .contactForm {
    width: 100%;
    padding: 20px;
  }
}
@media (min-width: 990px) and (max-width: 1024px) {
  .imgPerfiles {
    max-width: 70%;
    width: 70%;
  }
}
.sendButton {
  width: 125px;
  height: 35px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #83ada2;
  border-radius: 16px;
  border: 1px solid #83ada2;
  box-shadow: none;
  transform: none;
  margin-top: 10px;
}

.sendButton:hover {
  background-color: #3c6c74;
  border-color: #3c6c74;
}

.sponsors {
  max-height: 100px;
  width: 100px;
}

/*# sourceMappingURL=styles.css.map */
